.App {
  text-align: center;
  font-family: monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /* height: 150px; */
  padding: 0.1rem;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.box-one {
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 1rem;
}

.busy {
  min-height: 1rem;
  color: yellow;
}

.button {
  text-transform: uppercase;
  padding: 0.5rem;
  min-width: 5rem;;
}

.button-accent {
  font-weight: bolder;
}

.column {
  display: flex;
  flex-direction: column;
}

.error {
  min-height: 1rem;
  color: red;
}

.flex-center {
  align-items: center;
  align-content: center;
  justify-content: center;
}

.full-width {
  width: 100vw
}

.margin1 {
  margin: 1rem;
}
.margin2 {
  margin: 0.5rem;
}
.margin-horizontal {
  margin-left: 1rem;
  margin-right: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
